<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'css/a.css' %}">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:ital,wght@1,600&display=swap">
</head>
<body>
<div class="container mt-4">
    <h1>Welcome, {{ request.user.username }}</h1>
    <h2>Upload Screenshot for App: {{ app.name }}</h2>
</div>

<div class="container mt-4">
    <div class="row">
        <div class="col-md-6">
            <h4>App Logo</h4>
            <img src="{{ i.image.url }}" alt="App Logo" class="img-fluid">
        </div>
        <div class="col-md-6">
            <h4>Upload Screenshot</h4>
            <div class="dropzone">
                <div class="fallback">
                    <input name="file" type="file" />
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Include Dropzone.js library -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.9.2/min/dropzone.min.js"></script>
<script>
    // Initialize Dropzone
    Dropzone.options.myDropzone = {
        paramName: "file", // The name that will be used to transfer the file
        maxFilesize: 2, // MB
        acceptedFiles: ".png, .jpg, .jpeg",
        dictDefaultMessage: "Drag and drop files here or click to upload"
    };
</script>

</body>
</html>
